@{
    ViewBag.Title = "About";
}
<h1>
    A little about us. 
</h1>
<h2>
   How we were born: 
</h2>
<p class="text-muted">
 
    What seemed to be a hobby project has grown is scale and size.  This Chat application is one of the best in the west. With Facebook THe steal all your information. 
</p>
<h2>
    Our Mission(s): 
</h2>
    <p class="text-muted">The number one proirty of this application is to not be evil:</p> 
    <ul>
        <li>We will <span class="text-success">never</span> sell your private information.</li>
        <li>We will <span class="text-success">never</span> have any backdoor.</li>
        <li>We will <span class="text-success">always</span> put the customer first</li>
        <li>We will <span class="text-success"> never</span> leak your information to hackers. </li> 
    </ul>
<h2>
    Meet the Team:
</h2>
<p class="text-muted">somkeStacks is a one man team at the moment. But We are on gitHub. please contribute at <a href="google.com">somkeStacks GitHub</a></p>
possibly work on sunday?